:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  background-color: var(--grey900);
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2.4rem;
}

.card {
  background-color: var(--grey800);
  border-radius: 12px;
  margin: auto;
  max-width: 45.6rem;
  padding: clamp(2.4rem, 0.873rem + 4.071vw, 4rem);
  width: 100%;
}

.picture {
  border-radius: 50%;
  display: block;
  height: 8.8rem;
  margin: 0 auto 2.4rem;
}

.name {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 0 0.4rem;
}

.location {
  color: var(--green);
  font-weight: 700;
  margin: 0;
}

.quote {
  color: var(--white);
  margin: 2.4rem 0;
}

.link {
  background-color: var(--grey700);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 1.2rem 0;
  text-decoration: none;
}

.link:not(:last-child) {
  margin: 0 0 1.6rem;
}

.link:hover {
  background-color: var(--green);
  color: var(--grey700);
}

.footer {
  color: var(--white);
  font-style: italic;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 769px) {
  .card {
    max-width: 38.4rem;
  }
}
